# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="DB_TYPE://DB_USER:DB_PASS@DB_HOST:DB_PORT/DB_NAME?schema=public"

DB_TYPE=DB_TYPE # MYSQL, POSTGRESQL, ...
DB_USER=USER
DB_HOST=HOST
DB_PORT=PORT
DB_PASS=PASS
DB_NAME=NAME

JWT_SECRET=MY_SECRET